page-my-account {
    .page-my-account{
        .photo{
            position: relative;
            width: 110px;
            height: 110px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            margin-top: 10px;

            .image{
            

                ion-icon{
                    //color:color($colors, light);
                    font-size: 100px;
                }
            }
            .upload{
                position: absolute;
                right:-20px;
                bottom: 0;
    
                .icon{
                    font-size: 20px;
                    background-color:darken($icon-color-text, 10%);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 46px;
                    color: $white;
                }
            }
            .remove{
                position: absolute;
                left:-20px;
                bottom: 0;
    
                .icon{
                    font-size: 20px;
                    background-color:color($colors, danger);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 42px;
                    color: $white;
                }
            }
        }
    }
}
