page-wallet {

    .customDiv {
      height: 100px;
      width: 100%;
      background-color: #7ee8fa;
      // background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
      background-color: #71b931;
      border-radius: 20px;
    }
  
    .noData { 
      height: 100%;
      display: block;
      vertical-align: middle;
    }
    
  
  }
  